In [1]:
import pandas as pd

In [5]:
data =r'/Users/kpaul/OneDrive/Data Analytics/Python/Project/data_visualisation/data.csv'
df = pd.read_csv(data)
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [6]:
#data cleanning
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [7]:
df=df[['dateRep', 'countriesAndTerritories', 'cases' ]]
df

          dateRep countriesAndTerritories  cases
0      14/12/2020             Afghanistan    746
1      13/12/2020             Afghanistan    298
2      12/12/2020             Afghanistan    113
3      11/12/2020             Afghanistan     63
4      10/12/2020             Afghanistan    202
...           ...                     ...    ...
61895  25/03/2020                Zimbabwe      0
61896  24/03/2020                Zimbabwe      0
61897  23/03/2020                Zimbabwe      0
61898  22/03/2020                Zimbabwe      1
61899  21/03/2020                Zimbabwe      1

[61900 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  61900 non-null  object
 1   countriesAndTerritories  61900 non-null  object
 2   cases                    61900 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [10]:
df['date'] = pd.to_datetime(df['dateRep'], dayfirst = True)
df

          dateRep countriesAndTerritories  cases       date
0      14/12/2020             Afghanistan    746 2020-12-14
1      13/12/2020             Afghanistan    298 2020-12-13
2      12/12/2020             Afghanistan    113 2020-12-12
3      11/12/2020             Afghanistan     63 2020-12-11
4      10/12/2020             Afghanistan    202 2020-12-10
...           ...                     ...    ...        ...
61895  25/03/2020                Zimbabwe      0 2020-03-25
61896  24/03/2020                Zimbabwe      0 2020-03-24
61897  23/03/2020                Zimbabwe      0 2020-03-23
61898  22/03/2020                Zimbabwe      1 2020-03-22
61899  21/03/2020                Zimbabwe      1 2020-03-21

[61900 rows x 4 columns]

In [12]:
df = df.drop(columns = ['dateRep'])
df

      countriesAndTerritories  cases       date
0                 Afghanistan    746 2020-12-14
1                 Afghanistan    298 2020-12-13
2                 Afghanistan    113 2020-12-12
3                 Afghanistan     63 2020-12-11
4                 Afghanistan    202 2020-12-10
...                       ...    ...        ...
61895                Zimbabwe      0 2020-03-25
61896                Zimbabwe      0 2020-03-24
61897                Zimbabwe      0 2020-03-23
61898                Zimbabwe      1 2020-03-22
61899                Zimbabwe      1 2020-03-21

[61900 rows x 3 columns]

In [13]:
df['Total_cases'] = df.sort_values('date').groupby('countriesAndTerritories').cumsum().sort_index()
df

      countriesAndTerritories  cases       date  Total_cases
0                 Afghanistan    746 2020-12-14        49273
1                 Afghanistan    298 2020-12-13        48527
2                 Afghanistan    113 2020-12-12        48229
3                 Afghanistan     63 2020-12-11        48116
4                 Afghanistan    202 2020-12-10        48053
...                       ...    ...        ...          ...
61895                Zimbabwe      0 2020-03-25            2
61896                Zimbabwe      0 2020-03-24            2
61897                Zimbabwe      0 2020-03-23            2
61898                Zimbabwe      1 2020-03-22            2
61899                Zimbabwe      1 2020-03-21            1

[61900 rows x 4 columns]

In [15]:
df = df [['date' , 'countriesAndTerritories','Total_cases']]
df = df.rename(columns= {'countriesAndTerritories':'pays'})
df

            date         pays  Total_cases
0     2020-12-14  Afghanistan        49273
1     2020-12-13  Afghanistan        48527
2     2020-12-12  Afghanistan        48229
3     2020-12-11  Afghanistan        48116
4     2020-12-10  Afghanistan        48053
...          ...          ...          ...
61895 2020-03-25     Zimbabwe            2
61896 2020-03-24     Zimbabwe            2
61897 2020-03-23     Zimbabwe            2
61898 2020-03-22     Zimbabwe            2
61899 2020-03-21     Zimbabwe            1

[61900 rows x 3 columns]

In [19]:
df = pd.pivot_table(df, index = ['date'], columns = ['pays'], values = ['Total_cases'])
df

           Total_cases                                              \
pays       Afghanistan  Albania  Algeria Andorra   Angola Anguilla
date
2019-12-31         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-01         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-02         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-03         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-04         0.0      NaN      0.0     NaN      NaN      NaN
...                ...      ...      ...     ...      ...      ...
2020-12-10     48053.0  45188.0  90014.0  7162.0  15804.0     10.0
2020-12-11     48116.0  46061.0  90579.0  7190.0  15925.0     10.0
2020-12-12     48229.0  46863.0  91121.0  7236.0  16061.0     10.0
2020-12-13     48527.0  47742.0  91638.0  7288.0  16161.0     10.0
2020-12-14     49273.0  48530.0  92102.0  7338.0  16188.0     10.0

                                                             ...          \
pays       Antigua_and_Barbuda  Argentina   Armenia   Aruba  ... Uruguay
date                                                         ...
2019-12-31                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-01                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-02                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-03                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-04                 NaN        NaN       0.0     NaN  ...     NaN
...                        ...        ...       ...     ...  ...     ...
2020-12-10               146.0  1475222.0  145240.0  4996.0  ...  8104.0
2020-12-11               146.0  1482216.0  146317.0  5011.0  ...  8487.0
2020-12-12               147.0  1489328.0  147312.0  5031.0  ...  8849.0
2020-12-13               148.0  1494602.0  148325.0  5044.0  ...  9180.0
2020-12-14               148.0  1498160.0  148682.0  5049.0  ...  9708.0

                                                                   \
pays       Uzbekistan Vanuatu Venezuela Vietnam Wallis_and_Futuna
date
2019-12-31        NaN     NaN       NaN     0.0               NaN
2020-01-01        NaN     NaN       NaN     0.0               NaN
2020-01-02        NaN     NaN       NaN     0.0               NaN
2020-01-03        NaN     NaN       NaN     0.0               NaN
2020-01-04        NaN     NaN       NaN     0.0               NaN
...               ...     ...       ...     ...               ...
2020-12-10    74498.0     1.0  105852.0  1381.0               3.0
2020-12-11    74664.0     1.0  106280.0  1385.0               3.0
2020-12-12    74811.0     1.0  106715.0  1391.0               3.0
2020-12-13    74956.0     1.0  106715.0  1395.0               3.0
2020-12-14    75094.0     1.0  107177.0  1397.0               3.0


pays       Western_Sahara   Yemen   Zambia Zimbabwe
date
2019-12-31            NaN     NaN      NaN      NaN
2020-01-01            NaN     NaN      NaN      NaN
2020-01-02            NaN     NaN      NaN      NaN
2020-01-03            NaN     NaN      NaN      NaN
2020-01-04            NaN     NaN      NaN      NaN
...                   ...     ...      ...      ...
2020-12-10          766.0  2079.0  18062.0  11007.0
2020-12-11          766.0  2081.0  18091.0  11081.0
2020-12-12          766.0  2082.0  18161.0  11162.0
2020-12-13          766.0  2083.0  18217.0  11219.0
2020-12-14          766.0  2083.0  18274.0  11246.0

[350 rows x 214 columns]

In [21]:
df.columns

MultiIndex([('Total_cases',         'Afghanistan'),
            ('Total_cases',             'Albania'),
            ('Total_cases',             'Algeria'),
            ('Total_cases',             'Andorra'),
            ('Total_cases',              'Angola'),
            ('Total_cases',            'Anguilla'),
            ('Total_cases', 'Antigua_and_Barbuda'),
            ('Total_cases',           'Argentina'),
            ('Total_cases',             'Armenia'),
            ('Total_cases',               'Aruba'),
            ...
            ('Total_cases',             'Uruguay'),
            ('Total_cases',          'Uzbekistan'),
            ('Total_cases',             'Vanuatu'),
            ('Total_cases',           'Venezuela'),
            ('Total_cases',             'Vietnam'),
            ('Total_cases',   'Wallis_and_Futuna'),
            ('Total_cases',      'Western_Sahara'),
            ('Total_cases',               'Yemen'),
            ('Total_cases',              'Zambia'),
            ('Total_cases',            'Zimbabwe')],
           names=[None, 'pays'], length=214)

In [22]:
df.index.name =None
df.columns = [col[1] for col in df.columns]
df

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis_and_Futuna,Western_Sahara,Yemen,Zambia,Zimbabwe
2019-12-31,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-01,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-02,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-03,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-04,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,48053.0,45188.0,90014.0,7162.0,15804.0,10.0,146.0,1475222.0,145240.0,4996.0,...,8104.0,74498.0,1.0,105852.0,1381.0,3.0,766.0,2079.0,18062.0,11007.0
2020-12-11,48116.0,46061.0,90579.0,7190.0,15925.0,10.0,146.0,1482216.0,146317.0,5011.0,...,8487.0,74664.0,1.0,106280.0,1385.0,3.0,766.0,2081.0,18091.0,11081.0
2020-12-12,48229.0,46863.0,91121.0,7236.0,16061.0,10.0,147.0,1489328.0,147312.0,5031.0,...,8849.0,74811.0,1.0,106715.0,1391.0,3.0,766.0,2082.0,18161.0,11162.0
2020-12-13,48527.0,47742.0,91638.0,7288.0,16161.0,10.0,148.0,1494602.0,148325.0,5044.0,...,9180.0,74956.0,1.0,106715.0,1395.0,3.0,766.0,2083.0,18217.0,11219.0
2020-12-14,49273.0,48530.0,92102.0,7338.0,16188.0,10.0,148.0,1498160.0,148682.0,5049.0,...,9708.0,75094.0,1.0,107177.0,1397.0,3.0,766.0,2083.0,18274.0,11246.0

In [24]:
df= df.fillna(0).astype(int)
df

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis_and_Futuna,Western_Sahara,Yemen,Zambia,Zimbabwe
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,48053,45188,90014,7162,15804,10,146,1475222,145240,4996,...,8104,74498,1,105852,1381,3,766,2079,18062,11007
2020-12-11,48116,46061,90579,7190,15925,10,146,1482216,146317,5011,...,8487,74664,1,106280,1385,3,766,2081,18091,11081
2020-12-12,48229,46863,91121,7236,16061,10,147,1489328,147312,5031,...,8849,74811,1,106715,1391,3,766,2082,18161,11162
2020-12-13,48527,47742,91638,7288,16161,10,148,1494602,148325,5044,...,9180,74956,1,106715,1395,3,766,2083,18217,11219
2020-12-14,49273,48530,92102,7338,16188,10,148,1498160,148682,5049,...,9708,75094,1,107177,1397,3,766,2083,18274,11246

In [25]:
df = df.drop(columns = ['Cases_on_an_international_conveyance_Japan'])

In [26]:
df.columns = [col.replace('_'," ") for col in df.columns]

In [29]:
country_reserved = set()
for index, row in df.iterrows():
    country_reserved |= set (row[row>0].sort_values(ascending = False).head(10).index)
df = df[list(country_reserved)]

In [1]:
#generer la vidÃ©o
!pip install bar-chart-race

Collecting bar-chart-race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
Requirement already satisfied: matplotlib>=3.1 in c:\users\kpaul\anaconda3\lib\site-packages (from bar-chart-race) (3.5.1)
Requirement already satisfied: pandas>=0.24 in c:\users\kpaul\anaconda3\lib\site-packages (from bar-chart-race) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (9.0.1)
Requirement already satisfied: numpy>=1.17 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\kpaul\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\kpaul\anaconda3\lib\site-packages (from pandas>=0.24->bar-chart-race) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\kpaul\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->bar-chart-race) (1.16.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [ ]:
import bar